body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px; /* Ajusta la altura según tus necesidades */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: lightgreen;
    font-weight: bold;
}

.nav-links a.active {
    border-bottom: 2px solid white;
}

.search-bar {
    display: flex;
    align-items: center;
}

input {
    padding: 5px;
    margin-right: 5px;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.search-bar button img {
    max-width: 20px; /* Ajusta el tamaño máximo según tus necesidades */
    max-height: 20px;
}
.cart-icon img {
    height: 30px; /* Ajusta la altura según tus necesidades *
}
